#header-frame{
    width: 100%;
    min-height: 50px;
    background-image: linear-gradient(#e9e9e97d, #e9e9e97d), url(../images/pattern_background.png), linear-gradient(#e9e9e9, #e9e9e9);
    background-blend-mode: overlay;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 15px 0px rgba(100, 100, 100, 0.5);
}
#header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
#header-logo{
    background-image: url("../images/logo.svg");
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}
.header-menu{
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    font-weight: 500;
}
.header-ul{
    list-style: none;
    text-align: center;
    padding-left: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.header_li{

}
.header_li a{

    color: #1e1e1e;
    line-height: 1;
    text-decoration:none;
    text-transform: uppercase;
    cursor: pointer;
    position:relative;
}
.header_li a:after{
    background-color: #fdc526;
    display: block;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(253, 197, 38, 1);
    -moz-box-shadow:    0px 0px 5px 0px rgba(253, 197, 38, 1);
    box-shadow:         0px 0px 5px 0px rgba(253, 197, 38, 1);
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .1s ease-in-out;
    -moz--transition: width .1s ease-in-out;
    transition: width .1s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
.header_li a:hover:after,
.header_li a:focus:after {
    width: 100%;
}
#header-buttons{
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    justify-content: center;
}