@font-face {
    font-family: Montserrat; /* Гарнитура шрифта */
}
body{
    margin: 0;
    font-family: Montserrat, serif;

}
.container{
    background-image: linear-gradient(#e9e9e9, #e9e9e9), url(../images/pattern_background.png), linear-gradient(#e9e9e9, #e9e9e9);
    background-blend-mode: overlay;
}
.primary_btn{
    background-color: #fdc526;
    color: white;
    border-radius: 32px;
    padding: 10px 30px  10px 30px ;
    text-align: center;
    border: none;
    margin: 5px;
    width: 100%;
}
.secondary_btn{
    border-radius: 32px;
    padding: 10px 30px  10px 30px ;
    text-align: center;
    border: solid 1px;
    margin: 5px;
    background-color: transparent;
    width: 100%;
}
button,
button:active,
button:focus {
     outline: none;
    font-weight: 700;
 }